{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="container text-center">
    <h1><small>Bienvenue dans </small> MYSHOP</h1>

    <img src="https://image.shutterstock.com/image-vector/mens-tshirt-mockup-set-black-600w-736668199.jpg" alt="">
    
    </div>
{% endblock %}
