{% extends "base.html.twig" %}

{% block body %}
  
    <main>
        <h2 class="titre">CREATION</h2><br>
            <ul class="titre2">
                <li class="crea">
                    <a href="https://github.com/Amro076/greented">Greented</a>
                    <p>Application E-commerce en php</p>
                </li>
                <li class="crea">
                    <a href="https://github.com/Amro076/myshop">MY SHOP</a>
                    <p>Application E-commerce en symfony easyadmin</p>
                </li>
                
            </ul><br>
            <div>
                <ul class="titre2">
                    <li class="crea">
                        <a href="https://github.com/Amro076/locvoiture">Locvoiture</a>
                        <p>Application Location en symfony from scratch</p>
                    </li>
                    <li class="crea">
                        <a href="/index.html">Portfolio</a>
                        <p>HTML, SCSS, javascript</p>
                    </li>
                </ul>
            </div>
            <br><br><br>
        <h2 class="titre">DIPLÔMES</h2><br><br> 
        <div id="main">
            
            <div id="dip1">

                <p ><strong>DORANCO – ECOLE SUP’ DES TECH
                CREATIVES</strong><br><span> => Juillet 2022 - En cours Paris</span></p><br>
                <p>Une formation diplomante, intensive de 6 mois pour apprendre <br> le langage de programmation "javascript, php", <br> et des initiations sur Photoshop, Git, Word Press. <br> Des sessions de travail en méthode Agile "scrum", <br> suivi d'un stage de 6 semaines.  </p><br><br><br>
            </div>
            <div id="dip2">
                <p ><strong>ICONOCLASS - ÉCOLE DE VENTE ET BUSINESS DEVELOPMENT</strong><br><span> => Février 2022 - Juin    2022 Paris</span></p><br>
                <p>4 mois de formation intensive pour des missions réelles avec plus de 30 entreprises <br> dans l’écosystème du Tech. <br> Cette formation me
                permet d’affiner ma technique de vente B2B.</p><br><br><br>
            </div>   
            <div id="dip3">
                <p ><strong>BTS MUC</strong><br><span> => 2020 Académie de Versailles</span><br><br> Un parcours de VAE pour démontrer et confirmer mes connaissances <br>
                     en tant que gestionaire d'un centre de profit <br>
                     ainsi que mes compétences managériales durant 13 <br> années d'expérience professionnelle. <br> Validé par un diplôme.</p><br>
                <p></p><br><br><br>
            </div>   
            <div id="dip4">
                <p ><strong>MAITRISE EN TRAVAIL SOCIAL</strong><br><span> => 2000 Higher Institute of Social Work, Université de Port-Saïd, Egypte</span></p><br>
                <p>Formation initiale pendant 4 années d'Université dans le travail social, <br> mon permis de comprendre la nature humaine <br> et les différentes méthodes pour interagir <br> afin de trouver les meilleures solutions pour aider des personnes en difficulté  <br> "retour à l'emploi, insertion professionnelle, protection de l'enfance"</p><br><br><br>
            </div>   

           
        </div>

    </main>
    <footer>
        <div id="footer">
        <h2 class="titre">AWARDS</h2> 
        </div>
        <div id="award">
            <div id="im1" class="position">
                <img  src="./assets/Promotion_responsable_formation.jpg"  width="100" height="100" alt="photo_recompense" >
                <p>Responsable de formation en 2014</p>
            </div>
            <div id="im2" class="position">
             
                <img src="./assets/Récompense_leadership.jpg"  width="100" height="100"  alt="photo_recompense" >
                <p >Leadership, Teamwork</p>
            </div>
            <div id="im3" class="position">
                <img src="./assets/Récompense_2.835.720$.jpg" width="100" height="100"  alt="photo_recompense" >
                <p >Augmentation CA de 2.835.720$ En 2013</p>
            </div>
            <div id="im4" class="position">
              <img src="./assets/Récompense_278.198$.jpg" width="100" height="100"  alt="photo_recompense" >  
              <p >Augmentation CA de 278.198$ EN 2014</p>
            </div>
            <div id="im5" class="position">
               <img src="./assets/Récompense_557.635$.jpg" width="100" height="100"  alt="photo_recompense" >
               <p >Augmentation CA de 557.635$ En 2015</p>
            </div>
        </div>
        <div id="coord">
            <div class="footer2">
                <p><img src="./assets/icone_telephone.jpg " height="20" width="20" alt="logo"> : +33 (0)6.72.35.24.80</p><br>
                <p><img src="./assets/icon_mail.png" alt="logo" width="20" height="20"> : amro.ibrahim076@gmail.com</p>
            </div>
            <div id="logo_Contact">
                <p class="separation" ><img src="./assets/icon_linkedin.png" alt="logo" width="20" height="20"> : <a class="lien_net" href="https://www.linkedin.com/in/amroibrahim76/">https://www.linkedin.com/in/amroibrahim76/</a></p>
                <p class="separation" ><img src="./assets/logo_github.png" alt="logo" width="20" height="20"> : <a class="lien_net" href="https://github.com/Amro076"> https://github.com/Amro076</a></p>
            </div>
        </div>
    </footer>
    

{% endblock %}