<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcours</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header>
        <nav>
            <ul id="nav">
                <li class="nav"><a href="./parcours.html">Parcours</a></li>
                <li class="nav"><a href="./index.html" target="_blank">Accueil</a></li>
                <li class="nav"><a href="./création.html" target="_blank">Diplômes et Awards</a></li>
            </ul>
        </nav>
        <div id="article">
            <article><h1>MON PARCOURS professionnel</h1></article>
        </div>
    </header>
   <main>
        <section id="main">
            <div id="doranco" class="parcours">
                <H2>Développeur D'application Multimédia<span>DORANCO <img src="./assets/LOGOdoranco.png" width="60" height="30" alt="logo"></span></H2>
                <h4>04/2022 - Aujourd'hui</h4>
                <ul>
                    <li><br> FRONT-END
                        <ul class="formation">
                            <li>HTML 5<img src="./assets/html5-icon-13.jpg" width="30" height="30" alt="logo"></li>
                            <li>CSS 3 <img src="./assets/css-3-logo-023C1A7171-seeklogo.com.png" width="30" height="30" alt="logo"></li>
                            <li>JS <img src="./assets/javascript-logo-transparent-logo-javascript-images-3.png" width="30" height="30" alt="logo"></li>
                        </ul>   
                    </li>
                    <li>BACK-END
                        <ul class="formation">
                            <li>PHP - MYSQL <img src="./assets/258-2582226_php-logo-free-download-png-php-logo-png.png" width="60" height="30" alt="logo"></li>
                            <li>SYMFONY <img src="./assets/Symfony-avis.jpg" width="30" height="30" alt="logo"></li> 
                        </ul>
                    </li>
                </ul><br>
            </div>
            <section>
                <div id="icono"  class="parcours">
                    <h2>Business Developer <span >IconoClass <img src="./assets/icono.png" width="60" height="30" alt="logo"></span></h2><br>
                    <H4>02/2022 - 06/2022 <button class="span" id="but1"><img src="./assets/arrow_D-U.png"  width="15" height="15" alt="fleches"></button></H4><br>
                    <ul id="hide" class="visible" hidden >
                
                        <li>500 heures de formation pratique sur :
                            <ul>
                                <li>Tous les cycles de ventes,</li>
                                <li>Les techniques de ventes</li>
                                <li>Les outils de prospections,</li>
                                <li>Cold calling outbound et inbound</li>
                                <li>Lead generation et scraping</li>
                            </ul> 
                    </li>
                
                    </ul><br>
                </div>
                <div id="cash" class="parcours">
                    <h2>Directeur de magasin <span > Cash Converters Europe <img src="./assets/chash_converters.png" width="60" height="30" alt="logo"></span></h2><br>
                    <h4>11/2019 - 04/2021 <button id="but2"><img src="./assets/arrow_D-U.png" width="15" height="15" alt="fleches"></button></h4>
                    <ul  id="hide2" class="visible" hidden>
                        <li><br> Ouverture du nouveau concept en partenariat avec Carrefour</li>
                        <li>CA 1M€ – management d’une équipe de 7 collaborateurs</li>
                        <li>Développement de concept pour les futures franchises</li>
                    </ul><br>
                </div>
                <div id="foot" class="parcours">
                    <h2>Directeur Formateur <span >Foot Locker Europe <img src="./assets/Foot_loocker.png" width="60" height="30" alt="logo"></span></h2><br>
                    <h4>06/2006 - 05/2019 <button id="but3"><img src="./assets/arrow_D-U.png" width="15" height="15" alt="fleches"></button></h4>
                    <ul id="hide3" class="visible" hidden >
                        <li><br>
                        Prise en charge de la direction de 5 magasins entre 2010 et 2019 <br> CA jusqu’à 8M€ <br>
                        Management d’équipe jusqu’à 49 salariés <br>Gestion de comptes d’exploitations
                        </li>   
                    </ul>
                </div><br>
            </section>
        </section>
    </main>
    <footer>
        <div id="footer">
            <p>Mon savoir-faire me permet de comprendre les enjeux d'un projet informatique dans la pérennité d'un business. <br> L'attractivité d'un site web en terme de contenu et la simplicité de code jouent énormément dans le référencement naturel de celui-ci. <br>
            Comment commercialiser un logiciel informatique avec une compréhension de l'univers de Tech, <br>
            Comment créer un projet Tech commercialisable selon les besoins des clients, <br>
            Et enfin, le management et comment donner les moyens de réussite à son équipe.</p>
        </div>
    </footer>
   <script src="script.js"></script>
</body>
</html>